
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Présentation pour les Producteurs</h1>
    <p>Découvrez les talents, suivez les artistes, et connectez-vous aux meilleurs de la communauté.</p>
    <a href="{{ path('app_register') }}" class="btn">Rejoignez-nous en tant que Producteur</a>
{% endblock %}
