{# templates/beatmaker/overview.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Présentation pour les Beatmakers</h1>
    <p>En tant que beatmaker, vous pouvez publier vos beats et collaborer avec des artistes de la communauté.</p>
    <a href="{{ path('app_register') }}" class="btn">Rejoignez-nous en tant que Beatmaker</a>
{% endblock %}
