
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.input-field:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5); /* Ajout d'un léger effet de glow pour indiquer le focus */
}

.role-choice {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.role-choice label {
    font-size: 16px;
    color: #333;
    display: flex;
    align-items: center;
}

.role-choice input[type="radio"] {
    margin-right: 8px;
    transform: scale(1.3); /* Légèrement plus grand pour un meilleur visuel */
}

.btn {
    padding: 12px 25px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px); /* Ajout d'un léger effet de levée lors du survol */
}

.alert {
    margin-bottom: 15px;
    padding: 10px;
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    text-align: left; /* Alignement à gauche pour le texte de l'alerte */
}

/* Ajout d'un style de bouton désactivé pour une meilleure expérience utilisateur */
.btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
