{# templates/music/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier le morceau</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn">Mettre à jour</button>
    {{ form_end(form) }}
{% endblock %}
