{# templates/artist/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue dans la section Artistes</h1>
    <p>Découvrez nos artistes et ce qu'ils partagent avec la communauté RhythmRush.</p>
    <a href="{{ path('artist_overview') }}" class="btn">Présentation pour les Artistes</a>
{% endblock %}
