{# templates/register/confirmation_email.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Confirmation d'inscription{% endblock %}

{% block body %}
    <h1>Confirmation d'inscription</h1>
    <p>Un email de confirmation vous a été envoyé. 
    Veuillez vérifier votre boîte de réception et cliquer sur le lien pour activer votre compte.</p>
{% endblock %}
